
body {
    background-color: lightslategray;
}

.Contain {
    background-color: blueviolet;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 640px;
    min-width: 80%;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.Spacer {
    height: 30%;
}

.Row {
    display: flex;
}

#Text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.QRCode {
    display: flex;
    flex: auto;
    padding: 2em;
    justify-content: center;
}

.QRCode img {
    max-width: 100%;
    object-fit: contain;
    margin: auto;
}
